<!DOCTYPE html>
<html>
<head>
	<title>Welcome Here</title>
</head>
<body style="background-color: aqua ">
	<h1 style="background-color: yellow "><marquee>Welcome Here You are in Student Mode of this Website</marquee></h1><hr>
	<h2><center>Enjoy Our Services From Web Development With Python</center></h2>
	<h2><center>This Project is Made For Saylani Welfare Mass Training Center Faisalabad Campus</center></h2>
 <center><footer><h3>Powered By: Muhammad Noman Ashraf<br>Roll Number Is 7121 <br>&copy All Right Reseveved</h3></footer></center>
</body>

</html>